.hero{
    margin-left: 160px;
    margin-top: -500px;
}

.hero h1{
    font-size: 5rem;
}
.hero p{
    padding-top: 20px;
    font-size: 2rem;
}
span{
    color: var(--second-color);
}


.btn-hero{
    color: #fbfcfd;
    padding: 7px 20px;
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
}

.btn-hero :hover{
    color: var(--second-color);
    transition: var(--transition);
    background-color: var(--second-color);
}
.text-wrapper{
    margin-top: 165px;
    display: flex;
    justify-content: flex-start;
    background: var(--second-color);
    overflow: hidden;
}
.text-wrapper h3{
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rt-1 6000ms linear infinite;
}

@keyframes move-rt-1 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.text-wrapper-2{
    margin-top: 3px;
    display: flex;
    justify-content: flex-start;
    background: var(--black);
    overflow: hidden;
}
.text-wrapper-2 h3{
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rt-2 6000ms linear infinite;
}

@keyframes move-rt-2 {
    to{
        transform: translateX(100%);
    }
    from{
        transform: translateX(0);
    }
}

.sponsor-container{
    background-color: white;
    color:  #000000;
    padding-top: 80px;
}
.sponsor-container p{
    text-align: center;
    font-weight: 700;
    line-height: 49px;
    font-size: 31px;
    font-style: italic;
}
.sponsor-container h5{
    color:  #000000;
    text-align: center;
    font-weight: 700;
    line-height: 28.8px;
    font-size: 24px;
    font-style: italic;
    padding-top: 20px;
}

.s-imgs{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 50px;
}
.s-imgs img{
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rt-1 6000ms linear infinite;
}

.work-container{
    padding-top: 50px;
}

.work-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.work-title h1{
    font-size: 90px;
    font-style: italic;
}

.work-title p{
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
}

.work-body{
    background-color:  #0C0C0C;
}
.slider{
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.slider h5{
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rt-2 6000ms linear infinite;
}

.main-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    gap: 4rem;
}
.text-1 button {
    color: var(--text-color);
    padding: 7px 20px;
    margin: 10px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-size: 35px;
}
.text-2{
    padding-top: 100px;
}
.main-body-text h1{
    font-size: 80px;
    font-style: italic;
}

.main-body-text p{
    font-size: 50px;
    font-style: italic;
}

.pay-container{
    background-color: white;
    padding-top: 60px;
    color: var(--black);
}
.slider-1{
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.slider-1 h5{
    font-size: 20px;
    color: black;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rt-2 6000ms linear infinite;
}
.pay-body{
    text-align: right;
}
.btn-pay button{
    color: var(--black);
    padding: 7px 20px;
    background: transparent;
    border: 1.5px solid var(--black);
    border-radius: 20px;
    margin-top: 50px;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

.pay-main{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}
.pay-text{
    padding-top: 140px;
}
.pay-text h1{
    color: var(--black);
    font-style: italic;
    font-size: 6rem;
}

.pay-text p{
    font-style: italic;
    font-size: 2rem;
    padding-top: 30px;
}

.halal-container{
    padding-top: 60px;
}

.halal-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.halal-body{
    padding-top: 50px;
}
.btn-halal button {
    color: var(--text-color);
    padding: 7px 20px;
    margin: 10px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-size: 35px;
}

.halal-text h1{
    color: var(--text-color);
    font-style: italic;
    font-size: 6rem;
    padding-top: 3rem;
}

.halal-text p{
    font-style: italic;
    font-size: 2rem;
    padding-top: 30px;
}

.gs-container{
    padding-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.first-part{
    text-align: right;
}
.first-part h1{
    font-style: italic;
    font-size: 5rem;
}

.first-part button{
    color: var(--text-color);
    padding: 7px 20px;
    margin-top: 30px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    text-align: left;
    font-size: 25px;
}

.part-2{
    font-style: italic;
    font-size: 3rem;
}
.part-2 span{
    cursor: pointer;
}
